In [ ]:
#Используюя список l1 создать список, в ктором каждый элемент списка l1 будет заменен значением длинны строки соответствующего элемента в списке l1. Использовать генераторы, решить задачу в одну строку.
l1 = ['1', '123', '123', '12', '1', '123']; print([len(i) for i in l1])

In [ ]:
#Подсчитать количество строк в списке l1, длина которых больше 2х. Использовать генераторы, решить задачу в одну строку
l1 = ['1', '123', '123', '12', '1', '123']
count= sum(1 for i in l1 if len(i)>2);print(count)

In [1]:
#Просуммировать произведение ключей на значения словаря d4.
d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print(sum(ch*k for ch,k in d4.items()))

910

In [ ]:
#На базе словаря d6 составить словарь d7 в котором нет пар ключ-значение с ключами, встречающимися в словаре d5. Использовать генераторы, решить задачу в одну строку.
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}
print({k: v for k, v in d6.items() if k not in d5 })

In [ ]:
#Создать список, в котором все числа списка l2 умножены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.
l2 = [2, 4, -2, -3, 0 , 11 , 3, -1];print([x * i for i, x in enumerate(l2)])

In [ ]:
#Создать список, в котором все отрицательные числа списка l2 исключены, остальные элементы сохранены на своих местах. Использовать генераторы, решить задачу в одну строку.
l2 = [2, 4, -2, -3, 0 , 11 , 3, -1]; print([i for i in l2 if i>0 ])

In [ ]:
#Создать список, в котором все отрицательные числа списка l2 заменены на их номер в списке, остальные элементы сохранены на своих местах. Использовать генераторы и тернарный оператор, решить задачу в одну строку.
l2 = [2, 4, -2, -3, 0 , 11 , 3, -1]; print([i if i>0 else l2.index(i) for i in l2])

In [15]:
#Написать задокументированную функцию умножения двух чисел. Для каких типов данная функция будет возвращать практически ценный результат? Написать примеры использования этой функции.
def multiply(x, y):
        return x * y
#Примеры:
r1 = multiply(5, 4)  
r2 = multiply(2.5, 3) 
r3 = multiply(-5, 2) 
print(r1, r2, r3)

20 7.5 -10

In [16]:
#Написать функцию умножения принимающую от одного до трех параметров. Написать примеры использования этой функции с разным количеством параметров.
def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result
#Примеры:
r1 = multiply(5, 4)  
r2 = multiply(2.5, 3, 2)  
r3 = multiply(3)
print(r1, r2, r3)

20 15.0 3

In [18]:
#Функцию из задания 2 вызвать с приведенными ниже аргументами. Для случая a4 выбрать 3 первых и 3 последних значения.
a1 = (15, 10 ,5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10 ,15, 20)
def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result
r1 = multiply(*a1) 
r2 = multiply(*a2)
r3 = multiply(*a3) 
r4 = multiply(*a4[:3])
r5 = multiply(*a4[-3:]) 
print(r1, r2, r3, r4, r5)

750 3 3850 750 3000

In [19]:
#Реализовать функцию умножения, принимающую неограниченное количество значений. Написать примеры использования этой функции, в том числе с аргументами из задания 3.
def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result

# Примеры использования
a1 = (15, 10, 5)
a2 = (3, 1)
a3 = [2, 35, 55]
a4 = (5, 10, 15, 20)

result3 = multiply(*a1)  
result4 = multiply(*a2) 
result5 = multiply(*a3) 
result6 = multiply(*a4)  
print(result3, result4, result5, result6)

750 3 3850 15000

In [24]:
#Реализовать функции для выполнения четырех арифмитических операций преобразующих целые числа в целое число. Для двух заранее заданных целых чисел выполнить выбранную пользователем арифметическую операцию.
def plus(x, y):
    return x + y
def minus(x, y):
    return x - y
def umn(x, y):
    return x * y
def dele(x, y):
    return x // y  
operation = input("Введите операцию (plus, minus, umn, dele): ")
print('Введите x и y')
x=int(input())
y=int(input())
if operation == 'plus':
    result = plus(x, y)  # Результат: 15
elif operation == 'minus':
    result = minus(x, y)  # Результат: 5
elif operation == 'umn':
    result =umn(x, y)  # Результат: 50
elif operation == 'dele':
    result = dele(x, y)  # Результат: 2
print(result)

Введите операцию (plus, minus, umn, dele): dele
Введите x и y
1000
5
200

In [40]:
#Написать функцию, которая преобразует целое число (от 0 до 99) в текстовое написание числа на русском языке. Пример: to_text(15) -> 'Пятнадцать'
def to_text(number):
    edin = ('', 'один', 'два', 'три', 'четыре', 'пять', 'шесть', 'семь', 'восемь', 'девять')
    des = ('', 'десять', 'двадцать', 'тридцать', 'сорок', 'пятьдесят', 'шестьдесят', 'семьдесят', 'восемьдесят', 'девяносто')
    dr = ('', 'одиннадцать', 'двенадцать', 'тринадцать', 'четырнадцать', 'пятнадцать', 'шестнадцать', 'семнадцать', 'восемнадцать', 'девятнадцать')

    if number == 0:
        return 'Ноль'
    elif number < 10:
        return edin[number]
    elif number==10:
        return('десять')
    elif number < 20:
        return dr[number - 10]
    else:
        des_digit = number // 10
        edin_digit = number % 10
        if edin_digit == 0:
            return des[des_digit]
        else:
            return des[des_digit] + ' ' + edin[edin_digit]

n = int(input("Введите число от 0 до 99: "))
if n > 99 or n < 0:
    print('Ошибка')
else:
    print(to_text(n))

Введите число от 0 до 99: 44
сорок четыре